body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
}

nav {
    background-color: #fff;
    box-shadow: 0px 1px 2px #ddd;
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.content {
    margin-left: 230px;
    margin-top: 30px;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #007bff; 
}

a:hover {
    text-decoration: underline;
}

nav ul li {
    padding-bottom: 20px;
    list-style-type: none;
}

form input {
    font-family: 'Raleway', sans-serif;
    border: 0;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 1px 5px #ddd;
    outline: none;
}

ul {
    padding-left: 0;
}

.todo {
    background-color: #fff;
    list-style-type: none;
    margin: 0;
    margin-bottom: 15px;
    padding: 10px 15px;
    box-shadow: 0px 1px 5px #ddd;
    border-radius: 5px;
}

.about {
    color: #aaa;
}

hr {
    border: none;
    height: 1px;
    background-color: #eee;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.button {
    font-size: 14px;
    transition: background-color 0.5s ease;
    background-color: #674dd4;
    color: #fff;
    align-self: center;
    padding: 10px 15px;
    border-radius: 25px;
    text-decoration: none;
}

.button:hover {
    background-color: #7b62e3;
    text-decoration: none;
}